{% extends "core/base.html" %}
{% load widget_tweaks %}

{% block content %}
    <h2> Here there are all blogs: </h2>
    <br/>
    {% for blog in object_list %}
        <b>{{ forloop.counter }}</b>
        <a href="{% url "core:blogs:show_blog_by_id" pk=blog.id %}">{{ blog.title }}</a>
        Author: <b>{{ blog.author }}</b>
        {% if blog.author == user %}
            [<a href="{% url "core:blogs:update_blog" pk=blog.id %}">редактировать блог</a>]
            &nbsp;
            [<a href="{% url "core:blogs:delete_blog" pk=blog.id %}">удалить блог</a>]
        {% endif %}
        <br/>
    {% endfor %}
    <h5><a href="{% url "core:blogs:create_blog" %}">Create new</a></h5>
    <h2>-----------------------------------------------------</h2>

    <div class="auth">
        <form method="get" action="{% url "core:blogs:show_all_blogs" %}">
            {{ sort_form.errors }}
            {{ sort_form.sort | add_class:"myinput" }}
            <input type="submit"> <br/>
            {{ sort_form.sort.label_tag }} {{ sort_form.search }}
            {{ sort_form.search.errors }}
            <input type="submit">
        </form>
    </div>
{% endblock %}
