{% extends "core/base.html" %}

{% block body %}
    <div class="auth">
        <h5>You're logged in as {{ user.username }}. <a href="."> Logout.</a></h5>
        <form method="get" action="{% url "blogs:show_all_blogs" %}">
            <label>
                <input type="text" name="login" value="Anonymous">
            </label>
            <label>
                <input type="password" name="login" value="HelloWorld!">
            </label>
            <input type="submit"/>
        </form>
    </div>
{% endblock %}